/* Use MS box model: */
*,
*:before,
*:after { 
  -webkit-box-sizing: border-box; 
     -moz-box-sizing: border-box; 
          box-sizing: border-box;
}

/*! --------------------------------------------------------
    GRID COMMON STYLES
--------------------------------------------------------- */
#grid {
  background: #333;
  min-height: 9999px;
  left: 50%;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index:-1;
}
#grid div.horiz-container {
  position: absolute;
  width: 100%;
}
#grid div.horiz {
  border-bottom: 1px dotted #aaa;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
  height: 10px;  
}
#grid div.horiz.odd {
  border-bottom: 1px dotted #666;
}
#grid div.vert-container {
  position: absolute; width: 100%; height: 100%;
}
#grid div.vert {
  display: inline-block;
  height: 100%;
  opacity: 1;
}

/************************************************************ 0- */
  /* BEWARE: sync with content mediaqueries */
  #grid {
    margin-left: -47.5%; /* 95% / 2 = 47.5 */
    max-width: 95%; 
  }
  #grid div.vert {
    background: red;
    width:  22.368421%; /* 21.25 of 95% = 22.368421 */
    margin: 0 1.3157895%; /* 1.25 of 95% = 1.3157895 */
  }
  #grid div.vert.first-line {
    margin-left: 0.65789475%; /* gutter / 2 = 0.65789475 */ 
  }
  #grid div.vert.cols4 { /* this grid uses 4 cols */
    margin-right: 0;
  }

